.ax_default {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
._形状 {
}
._图片 {
}
.box_1 {
}
._次按钮（动作列表） {
  font-family:"STHeitiSC-Light", "Heiti SC Light", "Heiti SC", sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#333333;
  text-align:center;
}
._退出按钮（动作列表） {
  font-family:"STHeitiSC-Light", "Heiti SC Light", "Heiti SC", sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#FF3300;
  text-align:center;
}
._一级标题 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._二级标题 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._三级标题 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._四级标题 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._六级标题 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
._文本段落 {
  text-align:left;
}
.table_cell {
}
._直线 {
}
._连接 {
}
._表单提示 {
  color:#999999;
}
._表单禁用 {
}
._文本框 {
  text-align:left;
}
._下拉列表 {
  text-align:left;
}
.box_11 {
}
.box_2 {
}
.iconfont {
  font-family:"iconfont", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
.image {
  color:#000000;
}
.label {
  font-size:14px;
  text-align:left;
}
.horizontal_line {
}
.label1 {
  font-size:14px;
  text-align:left;
}
.heading_1 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.shape {
}
._36号字_顶部标题、大按钮、弹窗提示主标题_ {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
.heading_11 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._图片1 {
}
.text_field {
  color:#000000;
  text-align:left;
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
.droplist {
  color:#000000;
  text-align:left;
}
.list_box {
  color:#000000;
  text-align:left;
}
._流程形状 {
}
.tree_node {
  text-align:left;
}
._图片_ {
}
.box_3 {
}
.ellipse {
}
._默认样式 {
}
.icon {
}
.checkbox-uncheck {
}
.line {
}
.arrow {
}
.primary_button {
  color:#FFFFFF;
}
.button {
}
.image1 {
}
.link_button {
  color:#169BD5;
}
.image2 {
  color:#000000;
}
.label2 {
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:34px;
  color:#000000;
  text-align:left;
}
.text_field1 {
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:34px;
  color:#000000;
  text-align:left;
}
.placeholder {
}
._文本链接 {
  color:#0000FF;
}
.sticky_2 {
  text-align:left;
}
.icon1 {
}
.text_area {
  color:#000000;
  text-align:left;
}
._图像 {
}
.heading_31 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.flow_shape {
}
.checkbox {
  text-align:left;
}
._单选按钮 {
  text-align:left;
}
.radio_button {
  text-align:left;
}
.sticky_1 {
  text-align:left;
}
.shape1 {
}
.marker {
  color:#FFFFFF;
}
.text_field2 {
  color:#000000;
  text-align:left;
}
.form_disabled1 {
}
.button1 {
}
.box_21 {
}
.radio_button1 {
  text-align:left;
}
.ellipse1 {
}
.table_cell1 {
}
._文本 {
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
.text_field3 {
  font-size:13px;
  color:#000000;
  text-align:left;
}
.form_disabled2 {
  color:#000000;
}
.shape2 {
  font-size:13px;
  color:#000000;
}
.line1 {
}
.gb_droplist {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
.box_31 {
}
.icon2 {
}
._34号字_单行列表内，左方主标题文字字） {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  text-align:left;
}
._32号字_单行列表内，右方操作说明的文字__） {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
._30号字_服务主标题，例如双行列表内的下方描述信息。__） {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
._28号字_页面备注信息及列表的表头说明文字__） {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._24号字_最小说明文本，例如列表时间态、版权信息等） {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
.paragraph1 {
  text-align:left;
}
.paragraph2 {
  text-align:left;
}
.shape3 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:normal;
  font-style:normal;
}
.droplist1 {
  color:#000000;
  text-align:left;
}
.text_area1 {
  color:#000000;
  text-align:left;
}
.table_cell2 {
}
.checkbox-label-uncheck {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#606266;
  text-align:left;
}
.form_disabled3 {
}
.heading_12 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
textarea, select, input, button { outline: none; }
